[Unit]
Description=consul sidecar
Requires=consul.service
After=consul.service
[Service]
Restart=always
RestartSec=15s
User=ubuntu
Group=ubuntu
ExecStart=/usr/bin/consul connect proxy -sidecar-for clientms
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
[Install]
WantedBy=multi-user.target
